html {
  background: url("./background.jpg");
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 50px double rgb(241 239 214);
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
  background: url("./clock-face.jpg");
  background-size: 122%;
  background-position: 51%;
  border-radius: 50%;
  background-repeat: no-repeat;
  
}

.hand {
  width: 50%;
  height: 6px;
  background: darkslategrey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  border-radius: 2rem;
  /* transform:rotate(90deg); */
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7,0.58,1);
}

.hour-hand{
  width: 25%;
  
}
.min-hand{
  width: 35%;
  
}
.second-hand{
  width: 42%;
  background-image: linear-gradient(to right, #f07f7f, #ee747a, #ec6977, #ea5d73, #e75071);
}