@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
html {
  font-size: 10px;
  background: url("./background.jpg") bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  overflow-y: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-size: 5rem;
  font-weight: 700;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.key {
  border-radius: 0.6rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgb(2 18 66 / 40%);
  box-shadow: 0px 0px 9px 3px rgb(14 27 66 / 58%);
}

.playing {
  /* transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600; */
  box-shadow: none;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #7eade9;
}
